@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

//vars
$dark-bg-theme: #101522;
$light-text: #f7f8fa;
$default-fonts: "Roboto", sans-serif, Arial;

// Global styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $default-fonts;
}
body {
    height: 100%;
    width: 100%;
}

.background-container {
    background: $dark-bg-theme;
    scroll-behavior: smooth;
    min-height: 100vh;
    color: $light-text;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

//custom navbar
$theme-colors: (
    "custom-dark": #1c253b,
);

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value);
}
