@use '../../styles/variables' as var;

.player-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var.$light-bg-theme;
    padding: 30px 40px;
    border-radius: 10px;

    input {
        width: 100%;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}
